@inherits LayoutComponentBase

<RadzenLayout>
    <NavMenu />
    <RadzenBody>
        <div class="p-2 pt-5">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
    </RadzenFooter>
</RadzenLayout>