<div class="report-table">
    <h4>New positions</h4>
    <RadzenDataGrid Data="@Report.NewPositions">
        <Columns>
            <RadzenDataGridColumn Property="Company" Title="Company name" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Ticker" Title="Ticker" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Shares" Title="Shares" Frozen="true" Width="40px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Weight" Title="Weight" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
        </Columns>
    </RadzenDataGrid>
   
    <h4>Increased positions</h4>
    <RadzenDataGrid Data="@Report.IncreaedPositions">
        <Columns>
            <RadzenDataGridColumn Property="Company" Title="Company name" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Ticker" Title="Ticker" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Shares" Title="Shares" Frozen="true" Width="40px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Weight" Title="Weight" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
        </Columns>
    </RadzenDataGrid>
    <h4>Reduces positions</h4>
    <RadzenDataGrid Data="@Report.ReducedPositions">
        <Columns>
            <RadzenDataGridColumn Property="Company" Title="Company name" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Ticker" Title="Ticker" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Shares" Title="Shares" Frozen="true" Width="40px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="Weight" Title="Weight" Frozen="true" Width="30px" TextAlign="TextAlign.Center" />
        </Columns>
    </RadzenDataGrid>
</div>
