@page "/history"
@rendermode InteractiveServer

@using System.Globalization
@using ArkFunds.App.Web.Api
@inject IReportsClient reportsClient;

<PageTitle>History</PageTitle>

<h1>Report History</h1>

@if (isLoading) {
    <span>Loading...</span>
}
else
{
    <div class="d-flex flex-column gap-3">
        @if (history.Count == 0)
        {
            <span>No history.</span>
        }
        @foreach (var report in history)
        {
            <div class="history-item shadow-sm" @onclick="() => ToggleTable(report.Id)">
                <b class="text-secondary"> @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(report.Month) @report.Year</b>
            </div>
            <div class="@(isActive[report.Id] ? "collapse.show" : "collapse")">
                <ReportTables Report="report" />
            </div>
        }
    </div>
}