@page "/history"
@rendermode InteractiveServer

@using ArkFunds.App.Web.Api
@inject IReportsClient reportsClient;

<PageTitle>History</PageTitle>

<h1>Report History</h1>

@if (isLoading) {
    <span>Loading...</span>
}
else
{
    <div style="display: flex; flex-direction: column; gap: 16px;">
        @if (history.Count == 0)
        {
            <span>No history.</span>
        }
        @foreach (var report in history)
        {
            <div class="history-item" @onclick="() => ToggleTable(report.Id)">
                <b>@report.Month.ToString("00") - @report.Year</b>
            </div>
            <div class="@(isActive[report.Id] ? "active" : "inactive")">
                <ReportTables Report="report" />
            </div>
        }
    </div>
}