.history-item {
    text-decoration: none;
    width: 100%;
    box-shadow: 0 4px 10px 0 gray;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 8px;
    color: #7D4E57;
    cursor: pointer;
}
    .history-item:hover {
        transition: 0.25s linear all;
        background-color: white;
        border: 2px solid #7D4E57;
    }

    .active {
        display: flex;
    }
    .inactive {
        display: none;
    }