@page "/history"
@rendermode InteractiveServer

@using WebApp.Api
@inject IReportsClient reportsClient;

<PageTitle>History</PageTitle>

@if (isLoading) {
    <span>Loading...</span>
}
else
{
    <div style="display: flex; flex-direction: column; gap: 16px;">
        @if (history.Count == 0)
        {
            <span>No history.</span>
        }
        @foreach (var report in history)
        {
            <!-- TODO: expander -->
            <div class="history-item">
                <b>@report.Month.ToString("00") - @report.Year</b>
                <ReportTables Report="report" />
            </div>
        }
    </div>
}