@page "/reports"
@page "/"
@attribute [StreamRendering]

@using WebApp.Api
@inject IReportsClient reportsClient;

<PageTitle>Reports</PageTitle>

<h1>Reports</h1>
@if(report == null) {
    <span>Loading...</span>
} else
{
    <ReportTables Report="report" />
}
