.history-item {
    text-decoration: none;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.history-item:hover {
    transition: 0.25s linear all;
    background-color: white;
}
