@page "/user"

@using ArkFunds.App.Web.Client.Api
@inject IUsersClient usersClient;

<PageTitle>User settings</PageTitle>

@if (isLoading)
{
    <span>Loading...</span>
}
else
{
    <section class="user-settings  p-4 shadow-sm">
        <div class="user-settings__item d-flex flex-row align-items-baseline gap-1"><span class="text-secondary">Username:</span> <h5 class="fs-6 fw-bold">@user.Name</h5></div>
        <div class="user-settings__item d-flex flex-row align-items-baseline gap-1"><span class="text-secondary">Email:</span> <h5 class="fs-6 fw-bold">@user.Email</h5></div>
    <span>
            You are currently <b>@(user.IsSubscribed ? "subscribed" : "not subscribed")</b>
    to our monthly email reports!
        </span>
    <span class="text-secondary pt-3">Want to change that?</span>
    <div class="width-max">

    @if (user.IsSubscribed)
    {
        <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="" Click="ToggleSubscriptionSettingAsync">Unsubscribe</RadzenButton>
    } else
    {
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="ToggleSubscriptionSettingAsync">Subscribe!</RadzenButton>
    }
            </div>
    </section>
}
